body{
    margin-block: 200px;
   margin-left: 100px;
   margin-right: 100px;
   margin-top: 100px;
   margin-bottom: 100px;
   background-color: rgba(4, 7, 1, 0.911);
}
.links{
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  
  
    
}
.image{
 text-align: center;
 height: 150px;
    
}
#me{
    border-radius: 100%;
   
}
#home{
    text-align: center;
    color: yellow;
}
.hobs{
    text-align: end;
    color: blanchedalmond;

}
.lyks{
    text-align: start;
    color: blanchedalmond;

}
.pro{
    color: cornsilk;

}
.we{
color: darkgrey;
}
.fm{
    background-color: slategray;
}
.btn{
    background-color: gray;
    color: black;
    
}
