body{
    background-color: rgb(52, 52, 58);
}
#greeting{
    color: yellowgreen;
}
.name{
    color: turquoise;
}
.btn{
    background-color: slateblue;
}
.navbar-brand{
    background-color: mediumspringgreen;
}

#greet{
    color: yellow;
    text-align: center;
    background-color: skyblue;
}
.labels{
    color: snow;
}